<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/dist/styles.css" rel="stylesheet" type="text/css" />

    <%= head.title && head.title.toString() %>
    <%= head.script && head.script.toString() %>
    <%= ga %>

  </head>

  <body>
  	<div id="root"><%= component %></div>
  	<script src="/dist/bundle.js" type="text/javascript"></script>
  </body>

</html>
